# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
expo-debug.log*

# OS-specific
.DS_Store
Thumbs.db

# Environment files
.env

# Metro cache
.expo/
.expo-shared/
.metro-cache/
.cache/

# React Native packager
dist/
build/

# iOS
ios/Pods/
ios/Podfile.lock
ios/DerivedData/
ios/*.xcworkspace
ios/*.xcuserstate
ios/*.xcodeproj/project.xcworkspace/
ios/.idea/
ios/.vscode/

# Android
android/.gradle/
android/.idea/
android/app/build/
android/build/
android/local.properties
android/app

# VS Code
.vscode/

# Testing
coverage/
jest/

# Misc
*.keystore
*.iml
